<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones de Docentes</title>
    <link rel="stylesheet" href="/MiproyectoMASP/public/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Opciones de Docentes</h1>
        <div class="menu-acciones">
            <ul>
                <li><a href="/MiproyectoMASP/public/docente/crear">Crear Nuevo Docente</a></li>
                <li><a href="/MiproyectoMASP/public/docentes">Ver Lista de Docentes</a></li>
            </ul>
        </div>
        <p><a href="/MiproyectoMASP/public/home">Volver al Inicio</a></p>
    </div>
</body>
</html>